body {
    background: #c2ded1;

}

.content {
            padding: 100px 0;
        }

#navbar {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: white;
}

#navbar .nav-link {
    color: black;
}

#navbar .nav-link:hover {
    color: #c2ded1;
}

#navbar .navbar-brand {
    color: black;
    font-size: 1.5rem;
}



#title-head {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #title-head h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

.blurb h2 {
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #3f4e4f;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}



#painting {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#ark {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.blurb {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-fluid {
    border-radius: 10px;
}

.text-center h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.text-center p {
    font-size: 1.1rem;
    line-height: 1.5;
}

footer {
    color: black;
    padding: 20px 0;
    text-align: center;
}